:root {
  --ihc-options-heigth: 10rem;
  --ihc-OptionBtn-BG-color: rgb(30, 30, 30);
  --ihc-current-winner-color: orange;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 85%;
}

.option {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.option > button > img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: none;
}
.option > button {
  display: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--ihc-OptionBtn-BG-color);
  border-radius: 50%;
  border: none;
}
.option > p {
  position: relative;
  top: 1.5rem;
  color: white;
  font-size: 1rem;
  margin-top: 01rem;
}
.subBatles,
.lastWinner {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.subBatlesP,
.lastWinnerP {
  color: var(--ihc-totals-color);
  font-size: 1.5rem;
}

.subBatlesText,
.lastWinnerText {
  color: var(--ihc-current-winner-color);
  font-size: 1.5rem;
}
