:root {
  --ihc-options-heigth: 10rem;
  --ihc-OptionBtn-BG-color: rgb(30, 30, 30);
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 85%;
}

.option-Stone,
.option-Paper,
.option-Scissors {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.option-Stone > button {
  background-image: url('https://res.cloudinary.com/df7b0dj9r/image/upload/c_scale,w_94/v1713191222/pu%C3%B1o__gnjedy.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px -19px;
}
.option-Scissors > button {
  background-image: url('https://res.cloudinary.com/df7b0dj9r/image/upload/c_scale,w_74/v1713190525/icons8-tijeras-de-mano-94_xof6km.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 10px 2px;
}
.option-Paper > button {
  background-image: url('https://res.cloudinary.com/df7b0dj9r/image/upload/c_scale,w_74/v1713190525/icons8-toda-la-mano-94_em6zbx.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 10px 2px;
}
.option-Stone > button,
.option-Paper > button,
.option-Scissors > button {
  display: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--ihc-OptionBtn-BG-color);
  border-radius: 50%;
  border: none;
}
.option-Stone > p,
.option-Paper > p,
.option-Scissors > p {
  position: relative;
  top: 1.5rem;
  color: white;
  font-size: 1rem;
  margin-top: 01rem;
}
.subBatles,
.lastWinner {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
.subBatlesP,
.subBatlesText,
.lastWinnerP,
.lastWinnerText {
  color: var(--ihc-totals-color);
  font-size: 1.5rem;
}
