:root {
  --ihc-options-heigth: 10rem;
  --ihc-OptionBtn-BG-color: rgb(30, 30, 30);
  --ihc-current-winner-color: orange;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 85%;
}

.option,
.optionQuery {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.option > button > img,
.optionQuery > button > img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: none;
}
.option > button,
.optionQuery > button {
  display: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--ihc-OptionBtn-BG-color);
  border-radius: 50%;
  border: none;
}
.option > p {
  position: relative;
  top: 1.5rem;
  color: white;
  font-size: 1rem;
  margin-top: 01rem;
}
.optionDiv,
.optionsQuery,
.optionDivQuery {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.optionsQuery {
  display: none;
  width: 90%;
  gap: 1.5rem;
}

.subBatles,
.lastWinner {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.subBatlesP,
.lastWinnerP {
  color: var(--ihc-totals-color);
  font-size: 1.5rem;
}

.subBatlesText,
.lastWinnerText {
  color: var(--ihc-current-winner-color);
  font-size: 1.5rem;
}

@media (max-width: 735px) {
  .option,
  .option > button > img {
    width: 5rem;
    height: 5rem;
  }
  .subBatlesP,
  .lastWinnerP,
  .subBatlesText,
  .lastWinnerText {
    font-size: 1rem;
  }
}

@media (max-width: 610px) {
  .option,
  .option > button > img {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 550px) {
  .optionDiv {
    display: none;
  }
  .optionsQuery {
    display: flex;
    margin-top: 50px;
  }
  .optionDivQuery {
    gap: 1rem;
  }
  .optionQuery > button > img {
    width: 3rem;
    height: 3rem;
  }
  .optionQuery {
    width: 4rem;
    height: 4rem;
  }
}
