@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
  --ihc-buton-text-size: 15px;
  --ihc-buton-Braduis: 15px;
  --ihc-header-height: 100px;
  --ihc-footer-height: 150px;
  --ihc-cell-size: 100px;
  --ihc-mark-size: calc(var(--ihc-cell-size) * 0.9);
  --ihc-gap-default: 5px;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'VT323', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: rgb(192, 221, 231);
  /* linear-gradient(90deg, rgba(5, 4, 22, 1) 0%, rgba(31, 17, 5, 1) 27%, rgba(186, 131, 58, 1) 100%);  */
  overflow-y: hidden;
}

footer {
  height: var(--ihc-footer-height);
}
main {
  min-height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
}

.content {
  min-height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
  margin: 0px 20px;
}
