@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
  --ihc-buton-text-size: 15px;
  --ihc-buton-Braduis: 15px;
  --ihc-header-height: 100px;
  --ihc-footer-height: 150px;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'VT323', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgb(192, 221, 231);
}

footer {
  height: var(--ihc-footer-height);
}
main {
  min-height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
}

.content {
  min-height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
  margin: 0px 20px;
}
