@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Neon:XROT@-4&display=swap');

:root {
  /* General */
  --drop-shadow: drop-shadow(2px 8px 10px #918989);
  --ihc-buton-text-size: 15px;
  --ihc-buton-Braduis: 15px;
  /* Header */
  --ihc-header-height: 100px;
  --ihc-header-Btn-BG: rgb(236, 204, 145);
  --ihc-Header-padding: 0.8rem;
  --ihc-Header-div-gap: 0.5rem;
  /* HEader Btn  */
  --ihc-Hedaer-Btn-padding: 0.2rem 0.4rem;
  --ihc-Header-Btn-border-radius: 0.6rem;
  --ihc-Header-Btn-font-size: 1.5rem;
  --ihc-Header-Btn-BG-color: rgb(236, 204, 145);
  --ihc-Header-Btn-HOVER-BG-color: rgb(226, 176, 82);
  --ihc-Header-Btn-HOVER-scale: scale(1.1);
  --ihc-Header-Btn-dropShadow: drop-shadow(5px 6px 10px #000000);
  /* Footer */
  --ihc-footer-height: 50px;
  --ihc-footer-gap: 1rem;
  /* body */
  --ihc-body-BG-color: rgb(30, 30, 30);
  /* content */
  --ihc-content-margin: 0rem 1rem 0rem 1rem;
  --ihc-content-gap: 1rem;
  /* Cells */
  --ihc-cell-size: 100px;
  --ihc-mark-size: calc(var(--ihc-cell-size) * 0.9);
  --ihc-gap-default: 5px;
  --ihc-result-text-color-general: rgb(133, 133, 133);
  /* Results div TicTacToe */
  --ihc-result-margin: 3px 8px;
  --ihc-selector-border-radius: 5px;
  --ihc-selector-height: 4vh;
  --ihc-Turno-font-size: 1.5rem;
  /*Results div BrainGame */
  --ihc-results-div-gap: 0.3rem;
  --ihc-results-font-size: 1.5rem;
  --ihc-results-font-weight: bold;
  --ihc-timer-color: rgb(236, 82, 16);
  --ihc-results-margin-left: 4rem;
  --ihc-turn-selector-border: 0.4px solid gray;
  /* legend BrainGame */
  --ihc-legend-gap: 1rem;
  /* Modal's  */
  /* BTN's  */
  --ihc-Btn-Modal-text-size: 3rem;
  --ihc-Btn-Modal-padding: 0.25rem 0.5rem;
  --ihc-Btn-Modal-Border: 1px solid black;
  --ihc-Btn-Modal-border-radius: 5px;
  --ihc-Btn-Modal-BG-color: white;
  --ihc-Btn-HOVER-color: white;
  --ihc-Btn-HOVER-border-color: white;
  --ihc-Btn-HOVER-BG-color: black;
  /* mainDiv  */
  --ihc-Modal-Div-position: fixed;
  --ihc-Modal-Div-Opacity: 10;
  --ihc-Modal-Div-corners: 0;
  --ihc-Modal-Div-Gb-color: rgba(0, 0, 0, 0.8);
  --ihc-Modal-text-font-size: 5rem;
  --ihc-Modal-text-color: white;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: var(--ihc-body-BG-color);
  /* linear-gradient(90deg, rgba(5, 4, 22, 1) 0%, rgba(31, 17, 5, 1) 27%, rgba(186, 131, 58, 1) 100%);  */
  overflow-y: hidden;
}

footer {
  height: var(--ihc-footer-height);
}
main {
  min-height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
}

.content {
  min-height: calc(
    100vh - var(--ihc-header-height) - var(--ihc-footer-height) - 50px
  );
  margin: var(--ihc-content-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ihc-content-gap);
}
