@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Neon:XROT@-4&display=swap');

.winning-msg {
  position: var(--ihc-Modal-Div-position);
  opacity: var(--ihc-Modal-Div-Opacity);
  top: var(--ihc-Modal-Div-corners);
  left: var(--ihc-Modal-Div-corners);
  bottom: var(--ihc-Modal-Div-corners);
  right: var(--ihc-Modal-Div-corners);
  background-color: var(--ihc-Modal-Div-Gb-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ihc-Modal-text-color);
  font-size: var(--ihc-Modal-text-font-size);
  z-index: 1000001;
}
.winning-msg.hide {
  display: none;
}
#restartBtn {
  font-size: var(--ihc-Btn-Modal-text-size);
  background-color: var(--ihc-Btn-Modal-BG-color);
  cursor: pointer;
  padding: var(--ihc-Btn-Modal-padding);
  border: var(--ihc-Btn-Modal-Border);
  border-radius: var(--ihc-Btn-Modal-border-radius);
  font-family: 'Lobster', sans-serif;
}
#restartBtn:hover {
  background-color: black;
  border-color: white;
  color: white;
}
.data-winning-msg-text {
  font-size: var(--ihc-Btn-Modal-text-size);
  font-family: 'Lobster';
}
