:root {
  --ihc-cell-size: 100px;
}
.boardBrain {
  position: fixed;
  display: grid;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, auto);
  filter: drop-shadow(5px 6px 10px #000000);
}
.cellGame {
  width: var(--ihc-cell-size);
  height: var(--ihc-cell-size);
  justify-items: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 6px;
  border: 5px solid rgb(78, 57, 102);
  box-shadow: 0 0 0 4px rgb(208, 176, 107);
}

.cellGame > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hideImg {
  display: none;
}
.hide {
  background-color: rgb(78, 57, 102);
  transition: all 1s ease-in;
}
.show {
  display: block;
}
