:root {
  --ihc-cell-size: 100px;
  --ihc-bg-main: rgba(197, 195, 195, 0.224);
  --ihc-border-color: rgb(236, 199, 12);
  --ihc-front-card: rgb(236, 199, 12);
  --ihc-matched-card: rgb(78, 73, 73);
}
.boardBrain {
  position: fixed;
  display: grid;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, auto);
  filter: drop-shadow(5px 6px 10px #000000);
}

.card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 0.4rem;
}
.card,
.backCard,
.frontCard {
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
}
.backCard,
.frontCard {
  position: absolute;
  backface-visibility: hidden;
}
.frontCard {
  background-color: var(--ihc-border-color);
  background-size: contain;
  border-radius: 0.6rem;
  box-shadow: rgb(149, 157, 165, 0.2);
  padding: 1rem;
}

.backCard {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: rgba(149, 157, 165, 0.2);
  padding: 1rem;
  background-color: var(rgb(236, 199, 12));
}
.card-selected {
  transform: rotateY(180deg);
  border-radius: 5px;
}
.card-match .frontCard {
  background-color: var(--ihc-matched-card);
}
