@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Neon:XROT@-4&display=swap');

:root {
  --drop-shadow: drop-shadow(5px 6px 10px #000000);
  --ihc-selector-GB-color: rgb(182, 182, 182);
  --ihc-selector-font-size: 1.2rem;
  --ihc-selector-width: 6rem;
  --ihc-selector-border-bottom: 3px solid rgb(236, 200, 117);
}

* {
  font-family: 'Lobster';
}
.selectorX,
.selectorO {
  border-radius: var(--ihc-selector-border-radius);
  text-align: center;
  height: var(--ihc-selector-height);
  background-color: var(--ihc-selector-GB-color);
  border: var(--ihc-turn-selector-border);
  font-weight: bold;
  width: var(--ihc-selector-width);
  font-family: 'Lobster';
  font-size: var(--ihc-selector-font-size);
  filter: var(--drop-shadow);
  color: black;
}

.selectorX:hover,
.selectorO:hover {
  border-bottom: var(--ihc-selector-border-bottom);
}
.text-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.general-turn {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.turnText {
  color: var(--ihc-result-text-color-general);
  font-family: 'Lobster';
  font-size: var(--ihc-Turno-font-size);
}
.turno {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
.turnValue {
  font-weight: bold;
  font-family: 'Lobster';
}
.general-vid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 95%;
}
.results-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--ihc-gap-default);

  border-radius: 5%;
  /* background-color: rgb(180, 179, 179); */
  filter: drop-shadow(5px 6px 10px #000000);
}
.results-div-x,
.results-div-y,
.result-drawns,
.result-totals {
  display: flex;
  flex-direction: row;
  /* margin: var(--ihc-result-margin);
  */
  gap: 0.1rem;
}
.result-totals {
  filter: var(--drop-shadow);
}
.Xtext,
.Otext,
.Drawntext,
.total-games {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Lobster';
  color: rgb(178, 174, 174);
}
.result-count-x-value,
.result-count-o-value,
.result-count-drawn-value,
.result-count-total-value {
  color: orangered;
  min-width: 30px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Lobster';
}

@media (max-width: 600px) {
  .Xtext,
  .Otext,
  .Drawntext,
  .total-games {
    font-size: 1rem;
  }
  .selectorO,
  .selectorX {
    width: 4rem;
    font-size: 1rem;
  }
  .turnText {
    font-size: 1rem;
  }
  .turnValue {
    font-size: 1rem;
  }
}
