@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
* {
  font-family: 'EDU+NSW+ACT+Foundation', sans-serif;
}
.winning-msg-brain {
  position: var(--ihc-Modal-Div-position);
  opacity: var(--ihc-Modal-Div-Opacity);
  top: var(--ihc-Modal-Div-corners);
  left: var(--ihc-Modal-Div-corners);
  bottom: var(--ihc-Modal-Div-corners);
  right: var(--ihc-Modal-Div-corners);
  background-color: var(--ihc-Modal-Div-Gb-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ihc-Modal-text-color);
  font-size: var(--ihc-Modal-text-font-size);
  z-index: 1000001;
}
.winning-msg-brain.hide {
  display: none;
}
#restartBtn {
  font-size: var(--ihc-Btn-Modal-text-size);
  background-color: var(--ihc-Btn-Modal-BG-color);
  cursor: pointer;
  padding: var(--ihc-Btn-Modal-padding);
  border: var(--ihc-Btn-Modal-Border);
}
#restartBtn:hover {
  background-color: var(--ihc-Btn-HOVER-BG-color);
  border-color: var(--ihc-Btn-HOVER-border-color);
  color: var(--ihc-Btn-HOVER-color);
}
