@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  font-family: 'EDU+NSW+ACT+Foundation', sans-serif;
}
.board {
  position: fixed;
  display: grid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}
.cell {
  width: var(--ihc-cell-size);
  height: var(--ihc-cell-size);
  border: 1px solid black;
  justify-items: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
/* eliminar bordes exteriores */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}
/* no permitir cursosr donde ya hay elemento*/
.cell.o {
  cursor: not-allowed;
}
/* se define aquí para evitar que s epise en tre el hover y el introducido*/
.cell.x::before,
.cell.x::after,
.cell.o:before,
.cell.o::after {
  background-color: black;
}
/* Hover effects */
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.o):not(.x):hover::before {
  background-color: rgb(142, 141, 141);
}

/* crear las X  */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--ihc-mark-size) * 0.15);
  height: var(--ihc-mark-size);
}
/* rotar before and after para formar la X */
.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}
/* crear las O */
.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--ihc-mark-size);
  height: var(--ihc-mark-size);
}
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--ihc-mark-size) * 0.7);
  height: calc(var(--ihc-mark-size) * 0.7);
  background-color: rgb(192, 221, 231);
}
.board.hide {
  display: none;
}
