@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Neon:XROT@-4&display=swap');

header button {
  padding: var(--ihc-Hedaer-Btn-padding);
  border-radius: var(--ihc-Header-Btn-border-radius);
  font-size: var(--ihc-Header-Btn-font-size);
  background-color: var(--ihc-Header-Btn-BG-color);
  border: none; /*3px solid black*/
  cursor: pointer;
  font-weight: var(--ihc-results-font-weight);
  /* margin-top: 20px; */
  filter: var(--ihc-Header-Btn-dropShadow);
  font-family: 'Lobster', sans-serif;
}
header button:hover {
  background-color: var(--ihc-Header-Btn-HOVER-BG-color);
  transform: var(--ihc-Header-Btn-HOVER-scale);
}
.Butonsdiv {
  padding: var(--ihc-Hedaer-Btn-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  header button {
    padding: 2px 6px;
  }
}

@media (max-width: 440px) {
  header button {
    font-size: 20px;
  }
}
