:root {
  --ihc-resultPlayer-P-BG-color: rgb(0, 136, 255);
  --ihc-results-P-RPS-brder-radius: 0.4rem;
  --ihc-totals-color: white;
  --ihc-results-height: 4rem;
}
.Results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: var(--ihc-results-height);
}

.globalCount,
.GlobalDrawns {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.globalBatleCounter,
.globalBatleText,
.globalDrawnsCounter,
.globalDrawnsText {
  color: var(--ihc-totals-color);
  font-size: 1.5rem;
}
.generalResult {
  width: 20rem;
  height: 4rem;
  border: 3px solid white;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  /* left: 30rem; */
}
.generalResultQuery {
  /* border: 3px solid white; */
  display: none;
  flex-direction: none;
  border-radius: 0.5rem;
  width: 9rem;
  height: 3.2rem;
}
.resultPlayer {
  background-color: var(--ihc-resultPlayer-P-BG-color);
  border-radius: var(--ihc-results-P-RPS-brder-radius);
  font-size: 1.5rem;
  height: 2rem;
  padding: 0rem 0.5rem;
}
.user,
.userQurey {
  width: 3.2rem;
  position: relative;
  left: -1.8rem;
  top: 0.8rem;
}
.computer,
.computerQuery {
  width: 4rem;
  position: relative;
  right: -9.5rem;
  top: 0.8rem;
}

.winnerCounter {
  position: relative;
  top: 0.5rem;
  height: 2rem;
  left: 4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.userCounter,
.separator,
.compCounter {
  color: white;
  font-size: 2rem;
}

@media (max-width: 820px) {
  .generalResult {
    width: 10rem;
    height: 3.5rem;
  }
  .resultPlayer {
    font-size: 1.2rem;
  }
  .user {
    width: 2.8rem;
    height: 1.4rem;
  }
  .computer {
    right: -2.8rem;
    width: 3.2rem;
    height: 1.4rem;
  }
  .winnerCounter {
    gap: 0.5rem;
    left: 0rem;
  }
  .userCounter,
  .compCounter,
  .separator {
    font-size: 1.2rem;
  }

  .winnerCounter {
    top: 0.7rem;
  }
}

@media (max-width: 735px) {
  .globalBatleCounter,
  .globalBatleText,
  .globalDrawnsCounter,
  .globalDrawnsText {
    font-size: 1.2rem;
  }
}
@media (max-width: 580px) {
  .generalResult {
    display: none;
  }
  .Results {
    height: 2rem;
  }
  .Results {
    display: flex;
  }
  .generalResultQuery {
    display: flex;
  }
  .computerQuery {
    right: -1.8rem;
    width: 3.2rem;
    height: 1.4rem;
  }
  .userQuery {
    width: 2.8rem;
    height: 1.4rem;
    top: 0.8rem;
    left: -1.5rem;
    position: relative;
  }
  .userSelecImg,
  .computerSelecImg {
    height: 2.5rem;
    width: 2.5rem;
  }
}
