:root {
  --ihc-resultPlayer-P-BG-color: rgb(0, 136, 255);
  --ihc-results-P-RPS-brder-radius: 0.4rem;
  --ihc-totals-color: white;
  --ihc-results-height: 4rem;
}
.Results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: var(--ihc-results-height);
}

.globalCount,
.GlobalDrawns {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.globalBatleCounter,
.globalBatleText,
.globalDrawnsCounter,
.globalDrawnsText {
  color: var(--ihc-totals-color);
  font-size: 2rem;
}
.generalResult {
  width: 20rem;
  height: 4rem;
  border: 3px solid white;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  /* left: 30rem; */
}

.resultPlayer {
  background-color: var(--ihc-resultPlayer-P-BG-color);
  border-radius: var(--ihc-results-P-RPS-brder-radius);
  font-size: 1.5rem;
  height: 2rem;
  padding: 0rem 0.5rem;
}
.user {
  width: 3.2rem;
  position: relative;
  left: -1.8rem;
  top: 0.8rem;
}
.computer {
  width: 4rem;
  position: relative;
  right: -9.5rem;
  top: 0.8rem;
}

.winnerCounter {
  position: relative;
  top: 0.5rem;
  height: 2rem;
  left: 4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.userCounter,
.separator,
.compCounter {
  color: white;
  font-size: 2rem;
}
