.legendDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--ihc-legend-gap);
  object-fit: cover;
  width: 80%;
}
.legendCard {
  width: 2rem;
  height: 2rem;
  opacity: 0.6;
  border-radius: 0.5rem;
  filter: var(--drop-shadow);
}

.legendCard.hide {
  display: none;
}
