header {
  display: flex;
  flex-direction: column;
  height: var(--ihc-header-height);
  padding: 4%;
  justify-content: space-around;
  align-items: center;
}
header button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 25px;
  background-color: rgb(236, 204, 145);
  border: 3px solid black;
  cursor: pointer;
  margin-top: 20px;
}
.Butonsdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
