@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Neon:XROT@-4&display=swap');

.footer {
  height: var(--ihc-footer-height);
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--ihc-footer-gap);
  position: fixed;
  bottom: 10px;
}
.footer > p {
  font-family: 'Lobster', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
  align-self: center;
}
@media (max-width: 550px) {
  .footer > p {
    font-size: 1rem;
  }
}
