.divTotal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: var(--ihc-footer-height);
}
.cesta {
  position: absolute;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
}
.produccion {
  position: absolute;
  z-index: 9999;
  right: 20px;
  bottom: 10px;
  width: 40px;
  height: 40px;
}
.produccion.produced {
  animation: upGoing 0.5s;
}
@keyframes upGoing {
  from {
    transform: translateY(-140px);
  }
  to {
    transform: translateY(-80px);
  }
}
