@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Neon:XROT@-4&display=swap');

.footer {
  height: var(--ihc-footer-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--ihc-footer-gap);
}
.footer > p {
  font-family: 'Lobster', sans-serif;
  font-weight: bold;
}
