main {
  min-height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
}

.obra {
  width: 30px;
  height: 30px;
  position: absolute;
  filter: drop-shadow(5px 5px 4px #000000);
  transition: all 0.5s;
}

.score {
  color: rgb(214, 125, 98);
  font-weight: bold;
}
.puntuacion {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 20px;
  filter: drop-shadow(5px 6px 6px #000000);
}
.puntuacion.hide {
  display: none;
}
.btn-jugar,
.btn-pausar {
  position: absolute;
  top: 120px;
  right: 20px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: rgb(160, 157, 157);
  border: none;
  display: none;
  font-weight: bold;
  filter: drop-shadow(1px 4px 5px black);
}
#jugar:hover {
  background-color: rgb(106, 242, 124);
  transform: scale(1.1);
}
#pausar:hover {
  background-color: rgb(226, 176, 82);
  transform: scale(1.1);
}
.show {
  display: block;
}
.current-partida {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
@media (max-width: 700px) {
  .btn-jugar,
  .btn-pausar {
    padding: 4px 10px;
  }
}
@media (max-width: 480px) {
  .current-partida {
    font-size: 12px;
  }
}
