main {
  min-height: calc(100vh - var(--ihc-header-height) - var(--ihc-footer-height));
}

.obra {
  width: 50px;
  height: 50px;
  position: absolute;
  filter: drop-shadow(5px 5px 4px #000000);
  transition: all 0.5s;
}

.score {
  color: rgb(214, 125, 98);
  font-weight: bold;
}
.puntuacion {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 20px;
}
.btn-obra {
  position: absolute;
  top: 120px;
  right: 20px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: transparent;
  border: 3px solid black;
  display: none;
}
.show {
  display: block;
}
.current-partida {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
@media (max-width: 700px) {
  .btn-obra {
    padding: 4px 10px;
  }
}
@media (max-width: 480px) {
  .current-partida {
    font-size: 12px;
  }
}
